@import '../../../tokens.css';

.container {
    padding: var(--spacing-xl);
    width: 100%;
    box-sizing: border-box;
    font-family: var(--font-family-base);
}

h1,
h2,
h3 {
    font-family: var(--font-family-base);
}

h2 {
    margin-bottom: var(--spacing-xl);
}

table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

th,
td {
    height: var(--height-row);
    box-sizing: border-box;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

th {
    color: var(--color-text-secondary);
    text-align: left;
    padding: var(--spacing-lg);
    letter-spacing: 0.3%;
    border-bottom: 1px solid var(--color-border-light);
    font-weight: var(--font-weight-medium);
}

th:first-child,
td:first-child {
    width: calc(100% / (1 + 1.6 * (var(--columns) - 1)));
}

td:first-child {
    color: var(--color-btn-primary);
}

th:not(:first-child),
td:not(:first-child) {
    width: calc(1.6 * 100% / (1 + 1.6 * (var(--columns) - 1)));
}

td {
    padding: var(--spacing-sm) var(--spacing-lg);
    border-bottom: 1px solid var(--color-border-lighter);
}

tr.selected {
    background-color: var(--color-background-selected);
    position: relative;
}

input[type="checkbox"] {
    width: var(--width-icon-sm);
    height: var(--width-icon-sm);
}

.email-availability {
    display: flex;
    align-items: center;
    gap: var(--spacing-sm);
    padding-left: var(--spacing-xs);
}

.status-indicator {
    display: inline-block;
    width: var(--spacing-sm);
    height: var(--spacing-sm);
    border-radius: var(--border-radius-full);
}

.status-indicator.available {
    background-color: var(--color-status-available);
}

.status-indicator:not(.available) {
    background-color: var(--color-status-unavailable);
}

.actions {
    display: flex;
    gap: var(--spacing-lg);
    margin-bottom: var(--spacing-xl);
    background-color: var(--color-action-bg);
    justify-content: space-between;
}

.btn {
    padding: var(--spacing-sm) var(--spacing-md);
    margin: var(--spacing-sm) var(--spacing-lg);
    font-size: var(--font-size-btn);
    font-weight: var(--font-weight-medium);
    color: var(--color-btn-primary);
    border-radius: var(--border-radius-sm);
    display: flex;
    align-items: center;
    gap: var(--spacing-sm);
    height: var(--height-row);
}

.btn-primary {
    border: 1px solid var(--color-btn-primary);
    cursor: pointer;
    background: none;
}

.btn-text {
    background: none;
    border: none;
    padding: var(--spacing-md);
}

.btn-text:not(:disabled) {
    cursor: pointer;
}

.icon-placeholder {
    display: inline-block;
    width: var(--width-icon-sm);
    height: var(--width-icon-sm);
    background-image: url(../../../icons/addusericon.svg);
}

.left-actions,
.right-actions,
.sidenav-top-actions {
    display: flex;
    align-items: center;
}

.sidenav-top-actions {
    padding-left: var(--spacing-lg);
}

.divider {
    height: 24px;
    width: 1px;
    background-color: var(--color-text-secondary);
    margin-left: 4px;
    margin-right: 8px;
}

.search-bar {
    position: relative;
    margin: var(--spacing-sm) var(--spacing-lg);
}

.search-bar input {
    padding: var(--spacing-sm) var(--spacing-md);
    padding-left: calc(var(--spacing-lg) + var(--width-icon-sm));
    border: 1px solid var(--color-text-secondary);
    border-radius: var(--border-radius-sm);
    background-color: white;
    min-width: 200px;
    font-size: var(--font-size-btn);
}

.search-bar::before {
    content: url(../../../icons/searchicon.svg);
    position: absolute;
    left: var(--spacing-md);
    top: 50%;
    transform: translateY(-40%);
    opacity: 0.5;
    font-size: var(--font-size-btn);

}

.filter-icon,
.trash-icon {
    display: inline-block;
    background-repeat: no-repeat;
    align-self: flex-start;
}

.filter-icon {
    width: var(--width-icon-md);
    height: 19px;
    background-image: url(../../../icons/filtericon.svg);
}

.trash-icon {
    width: var(--width-icon-sm);
    height: var(--width-icon-sm);
    background-image: url(../../../icons/trashicon.svg);
}

.custom-checkbox {
    position: relative;
    display: inline-block;
    cursor: pointer;
    width: var(--width-icon-sm);
    height: var(--width-icon-sm);
    margin-right: var(--spacing-lg);
}

.checkbox-icon {
    position: absolute;
    top: 0;
    left: 0;
    width: var(--width-icon-sm);
    height: var(--width-icon-sm);
}

.header-checkbox .checkbox-icon {
    background-image: url('../../../icons/headercheckboxicon.svg');
}

.custom-checkbox input:checked~.checkbox-icon {
    background-image: url('../../../icons/checkboxicon.svg');
}

.sidenav {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: var(--sidenav-width);
    background-color: white;
    z-index: 1001;
    transform: translateX(100%);
    transition: transform var(--transition-fast);
    display: flex;
    flex-direction: column;
}

.sidenav.open {
    transform: translateX(0);
}

.sidenav-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
    transition: opacity var(--transition-fast);
}

.sidenav-backdrop.visible {
    opacity: 1;
    visibility: visible;
}

.sidenav-content {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow-y: auto;
}

.sidenav-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--spacing-lg);
    margin-left: var(--spacing-lg);
}

.sidenav-header h3 {
    margin: 0;
    display: flex;
    align-items: center;
    gap: var(--spacing-sm);
    font-weight: var(--font-weight-medium);
    font-size: 18px;
    color: var(--color-text-primary);
}

.roles-list {
    padding: 0 var(--spacing-xxl) var(--spacing-sm) 0;
    margin-left: var(--spacing-lg);
}

.role-item {
    display: flex;
    align-items: center;
    transition: background-color 0.2s;
    padding: var(--spacing-sm) var(--spacing-xl);
}

.role-name {
    flex-grow: 1;
}

.role-description {
    color: var(--color-text-secondary);
}

.sidenav-footer {
    margin-top: auto;
    display: flex;
    border-top: 1px solid var(--color-border-lighter);
    background-color: rgba(10, 17, 31, 0.03);
}

.footer-btn {
    margin: var(--spacing-lg) var(--spacing-lg) var(--spacing-xxl) var(--spacing-xxl);
    font-size: 16px;
    font-weight: var(--font-weight-medium);
}

.btn-img {
    background-color: var(--color-btn-primary);
    border: none;
    border-radius: var(--border-radius-sm);
    color: white;
    padding: var(--spacing-xs) var(--spacing-md);
}

.sidenav-top-actions button:last-child {
    margin-left: 4px;
}

.delete-role-btn {
    padding-bottom: 45px;
}