@import './tokens.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family-base);
}

body {
    font-size: var(--font-size-btn);
    background-color: white;
    color: #0A111F;
    line-height: 100%;
}

.container {
    margin: 0 auto;
    padding: 0 var(--spacing-xl);
}