* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Ubuntu';
    font-size: 14px;
    font-weight: 400;
    background-color: white;
    color: #0A111F;
    line-height: 100%;
}

.container {
    margin: 0 auto;
    padding: 0 20px;
}